<div class="container px-3 py-3">
  <div class="row content-justify-center">
    <div class="col">
      <div id="card-overlay-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-overlay-component-tab">
        <div class="card bg-dark text-white border-0">
          <img class="card-img" src="../../assets/img/theme/img-1-1000x600.jpg" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div>
              <h5 class="h2 card-title text-white mb-2">Bazaar</h5>              
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="col">
      <div id="card-overlay-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-overlay-component-tab">
        <div class="card bg-dark text-white border-0">
          <img class="card-img" src="../../assets/img/theme/img-1-1000x600.jpg" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div>
              <h5 class="h2 card-title text-white mb-2">Swap</h5>              
            </div>
          </div>
        </div>
      </div>    
    </div>    
  </div>  
  <div class="row content-justify-center">
    <div class="col">
      <div id="card-overlay-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-overlay-component-tab">
        <div class="card bg-dark text-white border-0">
          <img class="card-img" src="../../assets/img/theme/img-1-1000x600.jpg" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div>
              <h5 class="h2 card-title text-white mb-2">Exchange</h5>              
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="col">
      <div id="card-overlay-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-overlay-component-tab">
        <div class="card bg-dark text-white border-0">
          <img class="card-img" src="../../assets/img/theme/img-1-1000x600.jpg" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center">
            <div>
              <h5 class="h2 card-title text-white mb-2">DeFi</h5>              
            </div>
          </div>
        </div>
      </div>    
    </div>    
  </div>    
</div>